#bkgd {
	background-color: #ededed;
}

#card {
	padding: 10px;
	opacity: .8;
}

#card:hover {
	opacity: 1;
}

#title {
	padding: 15px;
}

h1 {
	font-family: 'Readex Pro', sans-serif;
	font-weight: Bold 700;
	font-size: 3rem;
}

h3 {
	font-size: .75rem;
	font-family: 'Readex Pro', sans-serif;
}

nav-link {
	font-family: 'Readex Pro', sans-serif;
	padding: 10px;

}

p {
	font-family: 'Readex Pro', sans-serif;
	font-weight: Extra-light 200;
	line-height: 1.8;
}

#img1 {
	padding-right: 20px;
	padding-left: 10px;
}



